<div class="absolute inset-0 flex flex-col p-3 pb-10">
  <div class="bg-white p-2 rounded-2xl">
    <p class="mb-2 text-4xl p-2.5">Статистика</p>
    <div class="flex flex-row px-4 pb-2 gap-2.5">
      <div class="stat-primary">
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
      <div class="text-blue-700">
        <p>Всего пользователей</p>
        <p>{{ allUsers.length }}</p>
      </div>
    </div>
  </div>
  <div class="flex-1 bg-white mt-4 rounded-2xl  w-full overflow-y-scroll">
    <div>
      <div class="grid grid-cols-2 grid-rows-1 pb-2 overflow-y-scroll">
        <div class="h-12"><p class="text-2xl px-4 pt-4">Пользователи</p></div>
        @if (!currentUser) {
          <button class="flex justify-end px-4 pt-2" (click)="registrationModal.open()">
            <div
                 class="custom-btn-primary">
              <p> Новый пользователь
                <fa-icon [icon]="plus" ></fa-icon>
              </p>
            </div>
          </button>
        }
      </div>
      <div class="bg-white rounded-2xl">
        <table class="w-full">
          <thead class="sticky top-0 bg-neutral-100 rounded-2xl p-16">
          <tr>
            <th>Имя</th>
            <th>Логин</th>
            <th>Действия</th>
          </tr>
          </thead>
          <div class="sticky top-0">
          </div>
          <tbody class="w-full">
          <tr *ngFor="let user of allUsers; let i = index">
            <td class="">{{ user.name }}</td>
            <td class="">{{ user.username }}</td>
            <td class="">
              <button (click)="remove(user.username)">
                <fa-icon [icon]="trash" class="text-black ml-4"></fa-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-modal #registrationModal [content]="modalRegistrationContent">
  <ng-template #modalRegistrationContent>
    <app-registration (close)="registrationModal.close()"></app-registration>
  </ng-template>
</app-modal>
