<div>
  <form (ngSubmit)="onSubmit()" #submitForm="ngForm">
    <h1 class="text-2xl pb-1">Создание записи</h1>
    <div>
      <p class="p-0.5">Дата</p>
      <div class="bg-slate-50 rounded-2xl font-mono">
        <input type="date" [(ngModel)]="date" name="date"
               [class.invalid-input]="dateModel.invalid" required appDateController
               #dateModel="ngModel">
      </div>
      <div class="relative inline-block w-full">
        <select [(ngModel)]="operationType" name="operationType" required
                class="bg-slate-50 rounded-2xl text-center py-2 my-2 w-full border appearance-none">
          <option value="outgoing">Расход</option>
          <option value="income">Приход</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-2 flex items-center px-2 text-gray-700">
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="h-4 w-4 fill-current">
            <path fill-rule="evenodd" d="M10 12.586L4.707 7.293a1 1 0 0 1 1.414-1.414L10 10.758l4.879-4.879a1 1 0 1 1 1.414 1.414l-5.293 5.293a1 1 0 0 1-1.414 0z" clip-rule="evenodd"/>
          </svg>
        </div>
      </div>
      @if (operationType == 'outgoing')
      {
        <div class="select-wrapper">
          <p>Кому:</p>
          <div class="relative inline-block w-full">
            <select [(ngModel)]="receiverUsername" name="receiverUsername"
                    class="bg-slate-50 rounded-2xl px-4 py-2 font-mono my-2 w-full focus:outline-none border appearance-none">
              <ng-container>
                @for (user of userList;track user){
                  <option class="bg-slate-50" [value]="user.username">{{ user.username }}</option>
                }
                <option class="bg-slate-50" [value]="undefined">N/A</option>
              </ng-container>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-2 flex items-center px-2 text-gray-700">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="h-4 w-4 fill-current">
                <path fill-rule="evenodd" d="M10 12.586L4.707 7.293a1 1 0 0 1 1.414-1.414L10 10.758l4.879-4.879a1 1 0 1 1 1.414 1.414l-5.293 5.293a1 1 0 0 1-1.414 0z" clip-rule="evenodd"/>
              </svg>
            </div>
          </div>
        </div>
      }
      <div>
        <p>Сумма:</p>
        <input type="text" [(ngModel)]="amount" name="amount" required
               [class.invalid-input]="operationType == 'outgoing' && amountExceedsBalance()"
               (ngModelChange)="operationType == 'outgoing' ? amountExceedsBalance() : null"
               appValidateKey>
      </div>
      <div>
        <p>Комментарий</p>
        <textarea [(ngModel)]="comment" name="comment"
                  class="border focus:outline-none resize-none h-[120px] w-full align-text-top rounded-2xl bg-slate-50 p-3"
                  minlength="10" maxlength="255" appDoubleSpace>
        </textarea>
        <p class="text-gray-400 pt-2" [class.text-red-500]="comment.length!=0 && (comment.length < 10 || comment.length > 255)">
          Символов: {{ comment.length }}/10-255
        </p>
      </div>
    </div>
    <div class="grid grid-cols-2 pt-4">
      <button (click)="closeModal()" class="custom-btn-neutral-filled mx-4 bg-black">
        <fa-icon [icon]="faXmark"></fa-icon>
        <span class="pl-1">Отменить</span>
      </button>
      <button (click)="console.log(this.amount)" type="submit" [disabled]="!submitForm.valid"
              class="custom-btn-primary mx-2">
        <fa-icon [icon]="faSave"></fa-icon>
        <span class="pl-1">Создать запись</span>
      </button>
    </div>
  </form>
</div>
