
<div>
  <h2 class="text-2xl pb-3">Создание пользователя</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="registration()">
    <div class="flex flex-col gap-2">
      <label for="name">Имя:
        <fa-icon [icon]="faUser" class="icon-right"></fa-icon>
        <input type="text" id="name" formControlName="name" class="input-style">
      </label>
      <label for="username">Логин:
        <fa-icon [icon]="faUser" class="icon-right"></fa-icon>
        <input type="text" id="username" formControlName="username" class="input-style" appUsernameUnique>
      </label>
      <label for="password">Пароль:
        <fa-icon [icon]="faLockOpen" class="icon-left"></fa-icon>
        <input type="password" id="password" formControlName="password" class="input-style">
      </label>
      <label>Повторите пароль:
        <fa-icon [icon]="faLockOpen" ></fa-icon>
        <input type="password" formControlName="confirmPassword" class="input-style">
      </label>
      <button type="submit" [disabled]="registrationForm.invalid" class="custom-btn-primary">
        <fa-icon [icon]="faSave"></fa-icon>
        Создать пользователя
      </button>
    </div>
    <div *ngIf="registrationForm.errors">
      <div *ngFor="let errorKey of Object.keys(registrationForm.errors)">
        <div *ngFor="let errorMsg of registrationForm.errors[errorKey]">
          {{ errorMsg }}
        </div>
      </div>
    </div>
  </form>
</div>
