<div class="absolute right-4 top-4">
  <button (click)="closeModal()">X</button>
</div>
<div>
  <h2 class="text-2xl pb-3">Создание пользователя</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="registration()" appUsernameUnique appPasswordMatch>
    <div class="flex flex-col gap-2">
      <label class="relative w-full">Имя:
        <fa-icon [icon]="faUser"  class="absolute right-2.5 top-[66%] transform -translate-y-1/2"></fa-icon>
        <input type="text" id="name" formControlName="name" class="pr-8">
      </label>
      <label class="relative w-full">Логин:
        <fa-icon [icon]="faUser" class="absolute right-2.5 top-[66%] transform -translate-y-1/2"></fa-icon>
        <input type="text" formControlName="username" class="pr-8">
      </label>
      <label class="relative w-full">Пароль:
        <fa-icon [icon]="faLockOpen" class="absolute left-3 top-[66%] transform -translate-y-1/2"></fa-icon>
        <input type="password"  formControlName="password" class="pl-8">
      </label>
      <label class="relative w-full">Повторите пароль:
        <fa-icon [icon]="faLockOpen"  class="absolute left-3 top-[66%] transform -translate-y-1/2"></fa-icon>
        <input type="password" formControlName="confirmPassword" class="pl-8">
      </label>
      <button type="submit" [disabled]="registrationForm.invalid" class="custom-btn-primary">
        <fa-icon [icon]="faSave"></fa-icon>
        Создать пользователя
      </button>
    </div>
    @if (registrationForm.errors){
      <div class="error-block mt-4 place-content-center">
        <fa-icon [icon]="faExclamationTriangle" class="text-error text-2xl border-r pr-4 mr-4 border-error"></fa-icon>
      @for (errorKey of Object.keys(registrationForm.errors); track errorKey){
         {{ registrationForm.errors[errorKey] }}
        <br>
      }
      </div>
    }
  </form>
</div>
