<div class="absolute inset-0 flex flex-col p-3 pb-10">
  <div class="bg-white p-2 rounded-2xl">
    <p class="mb-2 text-4xl p-2.5">Статистика</p>
    <div class="flex justify-between px-4 pb-2">
      <div class="flex gap-2 flex-row items-center">
        <div class="stat-primary">
          <fa-icon [icon]="faHourglassStart"></fa-icon>
        </div>
        <div class=""><p>Баланс на начало</p>
          @if (currentUser) {
            <p> {{currentUser.balance}} </p>
          } @else {
            <p>***</p>
          }
        </div>
      </div>
      <div class="flex gap-2 flex-row items-center">
        <div class="stat-success">
          <fa-icon [icon]="faArrowTrendUp"></fa-icon>
        </div>
        <div class=""><p>Приход</p>
          @if(currentUser){
            <p>{{currentUser.income}}</p>
          } @else {
            <p>***</p>
          }
        </div>
      </div>
      <div class="flex gap-2 flex-row items-center">
        <div class="stat-error">
          <fa-icon [icon]="faArrowTrendDown"></fa-icon>
        </div>
        <div class="ml-4"><p>Расход</p>
          @if (currentUser){
            <p>{{currentUser.outgoing}}</p>
          } @else {
            <p> *** </p>
          }
        </div>
      </div>
      <div class="flex gap-2 flex-row items-center">
        <div class="stat-primary">
          <fa-icon [icon]="faHourglassEnd"></fa-icon>
        </div>
        <div class="ml-4"><p>Баланс на конец</p>
          @if (currentUser) {
            <p>{{currentUser.currentBalance}}</p>
          } @else {
            <p>***</p>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white mt-4 rounded-2xl w-full overflow-y-scroll flex-1 ">
    <div class="flex flex-row justify-between pb-2">
      <div class="h-12"><p class="text-2xl px-4 pt-4">Операции</p></div>

      @if(currentUser){
        <button class="flex justify-end px-4 pt-2" (click)="create.open()">
          <div
               class="custom-btn-primary">
            <p> Новая операция
              <fa-icon [icon]="faPlus"></fa-icon>
            </p>
          </div>
        </button>
      }
    </div>
    <div class=" bg-white rounded-2xl">
      <table class="w-full">
        <thead class="sticky top-0 bg-gray-100 rounded-2xl p-16">
        <tr>
          <th>Дата</th>
          <th>От кого</th>
          <th>Кому</th>
          <th>Сумма</th>
          <th>Action</th>
        </tr>
        </thead>

        <tbody class="w-full">
        <tr *ngFor="let operation of filteredOperationsList; let i = index">
          <td class="font-mono">{{ operation.datetime }}</td>
          <td>{{ operation.from }}</td>
          <td>{{ operation.to }}</td>
          <td class="font-mono">{{ operation.amount}}</td>
          <td>
            <button>
              <fa-icon (click)="deleteOp.open(); this.removeOperationId=operation.id" [icon]="faTrash"
                       class="text-black ml-4"></fa-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-modal #create [content]="modalContent">
    <ng-template #modalContent>
      <app-create-operation (close)="create.close(); updateFilteredOperations()"></app-create-operation>
    </ng-template>
  </app-modal>
  <app-modal #deleteOp [content]="modalDeleteOperationContent">
    <ng-template #modalDeleteOperationContent>
      <app-delete-operation [operationId]="removeOperationId" (operationDeleted)="updateFilteredOperations()"
                            (close)="deleteOp.close()"></app-delete-operation>
    </ng-template>
  </app-modal>
</div>
