<div class="absolute inset-0 flex flex-col p-3 pb-10">
  <div class="bg-white py-2 px-8 rounded-2xl">
    <h2>Статистика</h2>
    <div class="flex justify-between pb-2 px-3">
      <div class="flex gap-4 items-center">
        <fa-icon class="stat-primary" [icon]="faHourglassStart"></fa-icon>
        <div>
          <h3>Баланс на начало</h3>
          <h3>{{ currentUser ? currentUser.balance : '***' }}</h3>
        </div>
      </div>
      <div class="flex gap-4 items-center">
        <fa-icon class="stat-success" [icon]="faArrowTrendUp"></fa-icon>
        <div>
          <h3>Приход</h3>
          <h3>{{ currentUser ? currentUser.income : '***' }}</h3>
        </div>
      </div>
      <div class="flex gap-4 items-center">
        <fa-icon class="stat-error" [icon]="faArrowTrendDown"></fa-icon>
        <div>
          <h3>Расход</h3>
          <h3>{{ currentUser ? currentUser.outgoing : '***' }}</h3>
        </div>
      </div>
      <div class="flex gap-4 items-center">
        <fa-icon class="stat-primary" [icon]="faHourglassEnd"></fa-icon>
        <div>
          <h3>Баланс на конец</h3>
          <h3>{{ currentUser ? currentUser.currentBalance : '***' }}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white mt-4 rounded-2xl w-full overflow-y-scroll flex-1">
    <div class="flex justify-between items-center py-2 px-4">
      <h2>Операции</h2>
      @if(currentUser){
        <button class="flex items-center gap-2 px-4 py-2 custom-btn-primary" (click)="create.open()">
          <h3>Новая операция</h3>
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      }
    </div>
    <table class="w-full bg-white rounded-2xl">
      <thead class="sticky top-0 bg-gray-100 rounded-2xl p-16">
      <tr>
        <th>Дата</th>
        <th>От кого</th>
        <th>Кому</th>
        <th>Сумма</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
        @for (operation of filteredOperationsList; track $index){
          <tr>
            <td class="font-mono">{{ operation.datetime | date: 'dd-MM-yyyy' }}</td>
            <td>{{ operation.from }}</td>
            <td>{{ operation.to }}</td>
            <td class="font-mono">{{ operation.amount }}</td>
            <td>
              <button (click)="deleteOp.open(); this.removeOperationId=operation.id">
                <fa-icon [icon]="faTrash" class="text-black ml-4"></fa-icon>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <app-modal #create [content]="modalContent">
    <ng-template #modalContent>
      <app-create-operation (close)="create.close(); updateFilteredOperations()"></app-create-operation>
    </ng-template>
  </app-modal>
  <app-modal #deleteOp [content]="modalDeleteOperationContent">
    <ng-template #modalDeleteOperationContent>
      <app-delete-operation [operationId]="removeOperationId" (operationDeleted)="updateFilteredOperations()"
                            (close)="deleteOp.close()"></app-delete-operation>
    </ng-template>
  </app-modal>
</div>
