@use "sass:map";

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-checkbox {
  display: none;
}
.invalid-input {
  @apply box-border border border-red-500;
}
select {
  @apply appearance-none;
}
h1{
  @apply text-3xl  py-2;
}
h2{
  @apply text-2xl py-2;
}
body {
  background-color: #f8f7f7;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

th {
  @apply px-4 pb-2.5 w-[20%] p-2.5;
}

td {
  @apply px-4 py-2.5 w-[20%] text-center;
}

::-webkit-scrollbar {
  display: none;
}

input {
  @apply bg-slate-50 rounded-2xl px-2 py-2 w-full mb-2 mt-2 focus:outline-none border;
}

.error-block {
  @apply bg-white py-4 text-error  items-center text-center border border-error rounded-2xl px-3 flex flex-row h-[80px];
}

$colors: [
  "primary",
  "secondary",
  "success",
  "error",
  "neutral",
];

@each $color in $colors {
  .custom-btn-#{$color} {
    @apply text-#{$color} border-#{$color} rounded-xl px-3 py-1.5 h-fit text-center border hover:bg-#{$color} hover:text-white transition-colors justify-self-end;
  }
  .custom-btn-#{$color}-filled {
    @apply text-white border-#{$color} bg-#{$color} rounded-xl px-3 py-1.5 text-center border hover:text-white transition-colors;
  }
  .stat-#{$color} {
    @apply bg-#{$color} rounded-xl px-2 py-2 w-12 text-2xl text-center text-white;
  }
    .custom-btn-#{$color}:disabled, .custom-btn-#{$color}.disable-hover:hover {
    cursor: default;
    background-color: initial;
    color: blue;
  }

  .checkbox-label-#{$color} {
    @apply flex items-center gap-2 cursor-pointer w-fit;
  }
  .custom-checkbox + .label-inner-#{$color} {
    @apply inline-block;
  }
  .custom-checkbox + .label-inner-#{$color}::before {
    @apply inline-block w-6 h-6 self-center border border-solid border-#{$color} rounded mr-2;
    content: '\f00c';
    text-align: center;
    font-family: 'Font Awesome 6 Free', serif;
    font-weight: 900;
    color: transparent;
  }
  .custom-checkbox:checked + .label-inner-#{$color}::before {
    @apply text-#{$color};
  }

}



