@use "sass:map";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f7f7;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

th {
  @apply px-4 pb-2.5 w-[20%] p-2.5;
}

td {
  @apply px-4 py-2.5 w-[20%] text-center;
}

::-webkit-scrollbar {
  display: none;
}

input {
  @apply bg-slate-50 rounded-2xl px-2 py-2 w-full mb-2 mt-2 focus:outline-none;
}

.alert {
  @apply items-center text-center border border-error rounded-2xl py-1 px-3 flex flex-row h-[80px];
}

.error-block {
  @apply bg-white py-4 text-error
}

$colors: (
  "primary": #4f46e5,
  "secondary": #6b7280,
  "success": #10b981,
  "error": #ef4444,
  "neutral": #000000,
);


@each $name, $color in $colors {
  .custom-btn-#{$name} {
    color: $color;
    border-color: $color;
    @apply rounded-xl px-3 py-1.5 text-center border  hover:text-white transition-colors;
  }
  .custom-btn-#{$name}-filled {
    background-color: $color;
    color: white;
    border-color: $color;
    @apply rounded-xl px-3 py-1.5 text-center border hover:text-white transition-colors;
  }
  .stat-#{$name} {
    background-color: $color;
    @apply rounded-xl px-2 py-2 w-12 text-2xl text-center text-white;
  }
}



