@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  background-color: #f8f7f7;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


th {
  @apply px-4 pb-2.5 w-[20%];
}

td {
  @apply px-4 py-2.5 w-[20%] text-center;
}

fa-icon {
  @apply text-white
}

::-webkit-scrollbar {
  display: none;
}

#newOperation:hover fa-icon {
  color: white
}

input {
  @apply bg-slate-50 rounded-2xl px-2 py-2 w-full mb-2 mt-2;
}
