 .remove-arrow::-webkit-inner-spin-button,
        .remove-arrow::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .remove-arrow {
            -moz-appearance: textfield;
        }

.custom-btn-primary {
  @apply rounded-xl pt-1.5 px-3 w-fit text-center h-10 text-primary border-2 border-primary align-text-bottom
                    hover:bg-blue-700 hover:text-white transition-colors;
}

.custom-btn-secondary {
  @apply px-4 py-2 bg-secondary text-white rounded-md shadow-md hover:bg-secondary-dark;
}

.custom-btn-error {
  @apply px-4 py-2 bg-error text-white rounded-md shadow-md hover:bg-error-dark;
}

.custom-btn-success {
  @apply px-4 py-2 bg-success text-white rounded-md shadow-md hover:bg-success-dark;
}

.custom-btn-neutral {
  @apply px-4 py-2 bg-neutral text-white rounded-md shadow-md hover:bg-neutral-dark;
}

.custom-btn-base {
  @apply px-4 py-2 bg-base text-neutral rounded-md shadow-md hover:bg-base-dark;
}

.stat-primary {
  @apply bg-primary rounded-xl px-2 py-2 w-12 text-2xl text-center;
}

.stat-secondary {
  @apply bg-secondary rounded-xl px-2 py-2 w-12 text-2xl text-center;
}

.stat-error {
  @apply bg-error rounded-xl px-2 py-2 w-12 text-2xl text-center;
}

.stat-success {
  @apply bg-success rounded-xl px-2 py-2 w-12 text-2xl text-center;
}

.stat-neutral {
  @apply bg-neutral rounded-xl px-2 py-2 w-12 text-2xl text-center;
}

.stat-base {
  @apply bg-base rounded-xl px-2 py-2 w-12 text-2xl text-center;
}

.custom-submit-button{
 @apply content-center text-center border-primary border border-solid rounded-2xl py-1 hover:text-white hover:bg-primary duration-500;
}

.alert {
  @apply items-center text-center border-primary border border-error rounded-2xl py-1 px-3 flex flex-row h-[80px];
}
.error-block {
  @apply bg-white  py-4   text-error
}

 th{
 @apply p-2.5;
}


$primary: #3498db;
$primary-dark: #2980b9;
$primary-light: #5da5db;


$secondary: #2ecc71;
$secondary-dark: #27ae60;
$secondary-light: #52d98b;


$accent: #f39c12;
$accent-dark: #d35400;
$accent-light: #ffbf7f;


$success: #2ecc71;
$error: #e74c3c;


$text-color: #333;
$background-color: #fff;





